<div class="row"
   style="margin: 0;position: relative;color: #000;background-position: center;background: #ffffff;border-bottom: 1px solid #e4e4e4;text-align: center; margin: auto; display: flex;justify-content: center;">
   <a href="https://www.openhrms.com/" target="_blank"><img src="images/openhrms.png"
      style=" width: 293px; padding: 1rem 0rem; margin: auto"
      alt="cybrosys-logo"></a>
</div>
<div class="row"
   style="margin:75px 0;position: relative;color: #000;background-position: center;background: #ffffff;border-bottom: 1px solid #e4e4e4; padding-bottom: 30px;">
   <div class="col-md-7 col-sm-12 col-xs-12" style="padding: 0px">
      <div style=" margin: 0 0 0px;padding: 20px 0 10;font-size: 23px;line-height: 35px;font-weight: 400;color: #000;border-top: 1px solid rgba(255,255,255,0.1);border-bottom: 1px solid rgba(255,255,255,0.11);text-align: left;">
         <h1 style="font-size: 39px;font-weight: 600;margin: 0px !important;"> Open HRMS Saudi GOSI Contribution </h1>
         <h3 style="font-size: 21px;margin-top: 8px;position: relative;"> Contributions From Employee And Employer To Saudi Government </h3>
      </div>
      <h2 style="font-weight: 600;font-size: 1.8rem;margin-top: 15px;">Key Highlights</h2>
      <ul style=" padding: 0 1px; list-style: none; ">
         <li style="display: flex;align-items: center;padding: 8px 0;font-size: 18px;"><i class="fa fa-check-circle-o" style="width:40px; color:#00438b"></i>
            Created two new rules for employee and employer contributions
         </li>
         <li style="display: flex;align-items: center;padding: 8px 0;font-size: 18px;"><i class="fa fa-check-circle-o" style="width:40px; color:#00438b"></i>
            Printing the pdf reports of contribution registers 
         </li>
      </ul>
   </div>
   <div class="col-md-5 col-sm-12 col-xs-12"><img src="images/gosi.png" class="img-responsive" alt=""></div>
</div>
<div>
   <section class="oe_container" style="padding: 1rem 0rem 1rem; background-color: #ffffff !important;">
      <div class="row py-4 px-3">
         <div class="w-100" style="padding-top:30px;padding-bottom:45px;border-radius: 10px;">
            <ul role="tablist" class="nav nav-pills justify-content-center" data-tabs="tabs" id="pills-tab"
               style="border: none;background: unset;">
               <li class="nav-item mr-1 mb-3"
                  style="font-size: 1.05rem;font-weight: 400;transition: all .15s ease;color: #d31c22;background-color: #00438b;box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);border: 0;font-family: 'Open Sans',sans-serif;width: 140px;border-radius: 0.30rem;">
                  <a id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                     aria-controls="pills-home" aria-selected="true" class="nav-link active show"
                     style="color: #fff;line-height: 33px;border: 0;border-radius: .25rem;font-weight: 400; text-align: center;">Overview </a>
               </li>
               <li class="nav-item mr-1 mb-3"
                  style="font-size: 1.05rem;font-weight: 400;transition: all .15s ease;color: #d31c22;background-color: #00438b;box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);border: 0;font-family: 'Open Sans',sans-serif;width: 140px;border-radius: 0.30rem;">
                  <a id="pills-home-tab" data-toggle="pill" href="#pills-features" role="tab"
                     aria-controls="pills-home" aria-selected="true" class="nav-link "
                     style="color: #fff;line-height: 33px;border: 0;border-radius: .25rem;font-weight: 400; text-align: center;">Features </a>
               </li>
               <li class="nav-item mr-1 mb-3"
                  style="font-size: 1.05rem;font-weight: 400;transition: all .15s ease;color: #ffffff;background-color: #00438b;box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);border: 0;font-family: 'Open Sans',sans-serif;width: 140px;border-radius: 0.30rem;">
                  <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                     aria-controls="pills-profile" aria-selected="false"
                     style="color: #fff;line-height: 33px;border: 0;border-radius: .25rem;font-weight: 400; text-align: center;">Screenshots </a>
               </li>
            </ul>
            <div class="tab-content" id="pills-tabContent"
               style="padding-top: 30px; padding-bottom: 30px; padding: 30px;">
               <div class="px-3 pt-1 tab-pane fade active show" id="pills-home" role="tabpanel" aria-labelledby="
                  pills-home-tab">
                  <!-- Overview-->
                  <h2 style="font-weight: 600;text-align: center;width: 100%;">Overview</h2>
                  <hr style="margin-top: 0px;margin-bottom: 2%;border: 0;text-align: center;border-top: 3px solid #d21c22;width: 5%;">
                  <h3 class="oe_slogan"
                     style="text-align: center;font-size: 19px;width: 100%;margin: 0;margin-top: 14px;color: #000 !important;opacity: 1 !important;line-height: 31px;font-weight: 400;letter-spacing: .5px;margin-bottom: 21px;">
                     This module is an application for handling the GOSI Contribution of Employees and Employers in Saudi. GOSI Contribution is only available for Saudi Citizens which has an age in between 18 and 60. This module also provides reports based on Contribution. 
                  </h3>
               </div>
               <div class="px-3 pt-1 tab-pane fade " id="pills-features" role="tabpanel" aria-labelledby="
                  pills-home-tab">
                  <!-- feature tab-->
                  <h2 style="font-weight: 600;text-align: center;width: 100%;"> OHRMS Saudi GOSI Contribution </h2>
                  <hr style="margin-top: 0px;margin-bottom: 2%;border: 0;text-align: center;border-top: 3px solid #d21c22;width: 5%;">
                  <ul>
                     <li class="mb8"
                        style="font-family: Roboto;color: #000;list-style-type: square;font-size: 19px;line-height: 50px; background-color: #3a34380d;padding-left: 20px;border-radius: 7px;list-style: none;">
                        <i class="fa fa-check-circle-o" style="width:40px; color:#00438b"></i>
                        Created two new rules for employee and employer contributions
                     </li>
                     <li class="mb8"
                        style="font-family: Roboto;color: #000;list-style-type: square;font-size: 19px;line-height: 50px; background-color: #3a34380d;padding-left: 20px;border-radius: 7px;list-style: none;">
                        <i class="fa fa-check-circle-o" style="width:40px; color:#00438b"></i>
                        Printing the pdf reports of contribution registers 
                     </li>
                  </ul>
               </div>
               <!-- Screenshot tab-->
               <div class="px-3 tab-pane fade" id="pills-profile" role="tabpanel"
                  aria-labelledby="pills-profile-tab">
                  <div class="tab-pane">
                     <h2 style="font-weight: 600;text-align: center;width: 100%;">Screenshots</h2>
                     <hr style="margin-top: 0px;margin-bottom: 2%;border: 0;text-align: center;border-top: 3px solid #d21c22;width: 5%;">
                     <div>
                        <section class="oe_container">
                           <div id="demo" class="row carousel slide  mb32" data-ride="carousel">
                              <div class="carousel-inner">
                                 <div class="carousel-item active" style="min-height: 0px;">
                                    <div class="col-xs-12 col-sm-12 col-md-12 mb16 mt16"
                                       style="float: left;">
                                       <h3 class="alert"
                                          style="font-weight:400;color: #091E42;background: #fff;text-align: left;border-radius: 0; font-size: 18px;">
                       <i class="fa fa-check-circle-o" style="width:40px; color:#00438b"></i>
                                          If the highlighted Boolean Field is true then the employee is eligible for GOSI Contribution 
                                       </h3>
                                       <div style=""><img class="img img-responsive center-block"
                                          style="border-top-left-radius: 10px;border-top-right-radius: 10px;"
                                          src="images/1gosi.png"></div>
                                    </div>
                                 </div>
                                 <div class="carousel-item" style="min-height: 0px;">
                                    <div class="col-xs-12 col-sm-12 col-md-12 mb16 mt16"
                                       style="float: left;">
                                       <h3 class="alert"
                                          style="font-weight:400;color: #091E42;background: #fff;text-align: left;border-radius: 0; font-size: 18px;">
                       <i class="fa fa-check-circle-o" style="width:40px; color:#00438b"></i>
                                          Here we can fill the GOSI Details of an Employee 
                                          <br>
                                       </h3>
                                       <div style=""><img class="img img-responsive center-block"
                                          style="border-top-left-radius: 10px;border-top-right-radius: 10px;"
                                          src="images/2gosi.png"></div>
                                    </div>
                                 </div>
                                 <!--                                            <div id="demo" class="row carousel slide  mb32" data-ride="carousel">-->
                                 <!--                                                <div class="carousel-inner">-->
                                 <div class="carousel-item" style="min-height: 0px;">
                                    <div class="col-xs-12 col-sm-12 col-md-12 mb16 mt16"
                                       style="float: left;">
                                       <h3 class="alert"
                                          style="font-weight:400;color: #091E42;background: #fff;text-align: left;border-radius: 0; font-size: 18px;">
                    <i class="fa fa-check-circle-o" style="width:40px; color:#00438b"></i>
                                          This shows the Employee GOSI Register 
                                       </h3>
                                       <div style=""><img class="img img-responsive center-block"
                                          style="border-top-left-radius: 10px;border-top-right-radius: 10px;"
                                          src="images/3gosi.png">
                                       </div>
                                    </div>
                                 </div>
                                 <div class="carousel-item" style="min-height: 0px;">
                                    <div class="col-xs-12 col-sm-12 col-md-12 mb16 mt16"
                                       style="float: left;">
                                       <h3 class="alert"
                                          style="font-weight:400;color: #091E42;background: #fff;text-align: left;border-radius: 0; font-size: 18px;">
                    <i class="fa fa-check-circle-o" style="width:40px; color:#00438b"></i>
                                          Here we can see the salary slip generated  
                                       </h3>
                                       <div style=""><img class="img img-responsive center-block"
                                          style="border-top-left-radius: 10px;border-top-right-radius: 10px;"
                                          src="images/4gosi.png">
                                       </div>
                                    </div>
                                 </div>
                                 <div class="carousel-item" style="min-height: 0px;">
                                    <div class="col-xs-12 col-sm-12 col-md-12 mb16 mt16"
                                       style="float: left;">
                                       <h3 class="alert"
                                          style="font-weight:400;color: #091E42;background: #fff;text-align: left;border-radius: 0; font-size: 18px;">
                    <i class="fa fa-check-circle-o" style="width:40px; color:#00438b"></i>
                                          Click on the Print Button to see the report of Employee Contribution 
                                       </h3>
                                       <div style=""><img class="img img-responsive center-block"
                                          style="border-top-left-radius: 10px;border-top-right-radius: 10px;"
                                          src="images/5gosi.png">
                                       </div>
                                    </div>
                                 </div>
                                 <div class="carousel-item" style="min-height: 0px;">
                                    <div class="col-xs-12 col-sm-12 col-md-12 mb16 mt16"
                                       style="float: left;">
                                       <h3 class="alert"
                                          style="font-weight:400;color: #091E42;background: #fff;text-align: left;border-radius: 0; font-size: 18px;">
                    <i class="fa fa-check-circle-o" style="width:40px; color:#00438b"></i>
                                          Now we can see the Employee GOSI Contribution 
                                       </h3>
                                       <div style=""><img class="img img-responsive center-block"
                                          style="border-top-left-radius: 10px;border-top-right-radius: 10px;"
                                          src="images/6gosi.png">
                                       </div>
                                    </div>
                                 </div>
                                 <div class="carousel-item" style="min-height: 0px;">
                                    <div class="col-xs-12 col-sm-12 col-md-12 mb16 mt16"
                                       style="float: left;">
                                       <h3 class="alert"
                                          style="font-weight:400;color: #091E42;background: #fff;text-align: left;border-radius: 0; font-size: 18px;">
                    <i class="fa fa-check-circle-o" style="width:40px; color:#00438b"></i>
                                          Click On the print button to See Employer Contribution Report 
                                       </h3>
                                       <div style=""><img class="img img-responsive center-block"
                                          style="border-top-left-radius: 10px;border-top-right-radius: 10px;"
                                          src="images/7gosi.png">
                                       </div>
                                    </div>
                                 </div>
                                 <div class="carousel-item" style="min-height: 0px;">
                                    <div class="col-xs-12 col-sm-12 col-md-12 mb16 mt16"
                                       style="float: left;">
                                       <h3 class="alert"
                                          style="font-weight:400;color: #091E42;background: #fff;text-align: left;border-radius: 0; font-size: 18px;">
                    <i class="fa fa-check-circle-o" style="width:40px; color:#00438b"></i>
                                          Now we can see report of GOSI Contribution by the Employer 
                                       </h3>
                                       <div style=""><img class="img img-responsive center-block"
                                          style="border-top-left-radius: 10px;border-top-right-radius: 10px;"
                                          src="images/8gosi.png">
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <a class="carousel-control-prev" href="#demo" data-slide="prev" style="left:-25px;width: 35px;color: #000;"> <span class="carousel-control-prev-icon"><i class="fa fa-chevron-left" style="font-size:24px"></i></span> </a> <a class="carousel-control-next" href="#demo" data-slide="next" style="right:-25px;width: 35px;color: #000;"> <span class="carousel-control-next-icon"><i class="fa fa-chevron-right" style="font-size:24px"></i></span> </a>
                           </div>
                        </section>
                     </div>
                  </div>
               </div>
               <!-- faq tab-->
               <div class="px-2 px-lg-4 pt-3 tab-pane fade" id="pills-contact"
                  role="tabpanel"
                  aria-labelledby="pills-contact-tab">
                  <ul class="list-unstyled">
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </section>
   <section class="oe_container" style="padding: 2rem 3rem 1rem;">
      <h2 style="font-weight: 600;text-align: center;margin-bottom: 25px;width: 100%;">Suggested Products</h2>
      <hr style="margin-top: 0px;margin-bottom: 2%;border: 0;text-align: center;border-top: 3px solid #d21c22;width: 5%;">
      <div id="demo1" class="row carousel slide" data-ride="carousel">
         <!-- The slideshow -->
         <div class="carousel-inner">
            <div class="carousel-item active" style="min-height: 0px;">
               <div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;">
                  <a
                     href="https://apps.odoo.com/apps/modules/13.0/ohrms_core/" target="_blank">
                     <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;">
                        <img class="img img-responsive center-block"
                           style="border-top-left-radius: 10px;border-top-right-radius: 10px;"
                           src="images/core_image.gif">
                     </div>
                  </a>
               </div>
               <div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;">
                  <a
                     href="https://apps.odoo.com/apps/modules/13.0/hrms_dashboard/" target="_blank">
                     <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;">
                        <img class="img img-responsive center-block"
                           style="border-top-left-radius: 10px;border-top-right-radius: 10px;"
                           src="images/dash_image.gif">
                     </div>
                  </a>
               </div>
               <div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;">
                  <a
                     href="https://apps.odoo.com/apps/modules/13.0/oh_hr_zk_attendance/" target="_blank">
                     <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;">
                        <img class="img img-responsive center-block"
                           style="border-top-left-radius: 10px;border-top-right-radius: 10px;"
                           src="images/bio_image.png">
                     </div>
                  </a>
               </div>
            </div>
            <div class="carousel-item" style="min-height: 0px;">
               <div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;">
                  <a
                     href="https://apps.odoo.com/apps/modules/13.0/oh_appraisal/" target="_blank">
                     <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;">
                        <img class="img img-responsive center-block"
                           style="border-top-left-radius: 10px;border-top-right-radius: 10px;"
                           src="images/appraisal_image.png">
                     </div>
                  </a>
               </div>
               <div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;">
                  <a
                     href="https://apps.odoo.com/apps/modules/13.0/hr_employee_shift/" target="_blank">
                     <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;">
                        <img class="img img-responsive center-block"
                           style="border-top-left-radius: 10px;border-top-right-radius: 10px;"
                           src="images/shift_image.png">
                     </div>
                  </a>
               </div>
               <div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;">
                  <a
                     href="https://apps.odoo.com/apps/modules/13.0/ohrms_salary_advance/" target="_blank">
                     <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;">
                        <img class="img img-responsive center-block"
                           style="border-top-left-radius: 10px;border-top-right-radius: 10px;"
                           src="images/salary_image.png">
                     </div>
                  </a>
               </div>
            </div>
         </div>
         <!-- Left and right controls -->
         <a class="carousel-control-prev" href="#demo1" data-slide="prev"
            style="left:-25px;width: 35px;color: #000;"> <span class="carousel-control-prev-icon"><i
            class="fa fa-chevron-left" style="font-size:24px"></i></span> </a> <a class="carousel-control-next"
            href="#demo1"
            data-slide="next"
            style="right:-25px;width: 35px;color: #000;">
         <span class="carousel-control-next-icon"><i class="fa fa-chevron-right" style="font-size:24px"></i></span>
         </a>
      </div>
   </section>
   <section class="row" style="padding: 2rem 3rem 1rem;margin:0px">
      <h2 style="font-weight: 600;margin-bottom: 20px;text-align: center;width: 100%;">Our Service</h2>
      <hr style="margin-top: 0px;margin-bottom: 2%;border: 0;text-align: center;border-top: 3px solid #d21c22;width: 5%;">
      <div class="row" style=" display: flex; justify-content: center; flex-wrap: wrap;width: 100%; ">
         <!-- <div style="display:flex;padding-top: 20px;justify-content: space-between;"> -->
         <div class="col-md-2 col-sm-6 col-xs-12">
            <div style="width:75px;height:75px;background:#fff; border-radius:100%;margin: auto;"><a
               href="https://www.cybrosys.com/odoo-customization-and-installation/" target="_blank"> <img
               src="https://www.cybrosys.com/images/odoo-customization.png"
               style="width: 100%;border-radius: 100%;"/> </a></div>
            <h3 class="oe_slogan"
               style="font-weight: 800;text-align: center;font-size: 14px;width: 100%;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;">
               <a href="https://www.cybrosys.com/odoo-customization-and-installation/" target="_blank"
                  style="list-style: none; color:#000; text-decoration: none; font-family: 'Montserrat',sans-serif;">
               Odoo Customization </a>
            </h3>
         </div>
         <div class="col-md-2 col-sm-6 col-xs-12">
            <div style="width:75px;height:75px;background:#fff; border-radius:100%;margin: auto;"><a
               href="https://www.cybrosys.com/odoo-erp-implementation/" target="_blank"> <img
               src="https://www.cybrosys.com/images/odoo-erp-implementation.png"
               style="width: 100%;border-radius: 100%;"/> </a></div>
            <h3 class="oe_slogan"
               style="font-weight: 800;text-align: center;font-size: 14px;width: 100%;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;">
               <a href="https://www.cybrosys.com/odoo-erp-implementation/" target="_blank"
                  style="list-style: none; color:#000; text-decoration: none; font-family: 'Montserrat',sans-serif;">
               Odoo Implementation </a>
            </h3>
         </div>
         <div class="col-md-2 col-sm-6 col-xs-12">
            <div style="width:75px;height:75px;background:#fff; border-radius:100%;margin: auto;"><a
               href="https://www.cybrosys.com/odoo-erp-integration/" target="_blank"> <img
               src="https://www.cybrosys.com/images/odoo-erp-integration.png"
               style="width: 100%;border-radius: 100%;"/> </a></div>
            <h3 class="oe_slogan"
               style="font-weight: 800;text-align: center;font-size: 14px;width: 100%;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;">
               <a href="https://www.cybrosys.com/odoo-erp-integration/" target="_blank"
                  style="list-style: none; color:#000; text-decoration: none; font-family: 'Montserrat',sans-serif;">
               Odoo Integration </a>
            </h3>
         </div>
         <div class="col-md-2 col-sm-6 col-xs-12">
            <div style="width:75px;height:75px;background:#fff; border-radius:100%;margin: auto;"><a
               href="https://www.cybrosys.com/odoo-erp-support/" target="_blank"> <img
               src="https://www.cybrosys.com/images/odoo-erp-support.png"
               style="width: 100%;border-radius: 100%;"/> </a></div>
            <h3 class="oe_slogan"
               style="font-weight: 800;text-align: center;font-size: 14px;width: 100%;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;">
               <a href="https://www.cybrosys.com/odoo-erp-support/" target="_blank"
                  style="list-style: none; color:#000; text-decoration: none; font-family: 'Montserrat',sans-serif;">
               Odoo Support</a>
            </h3>
         </div>
         <div class="col-md-2 col-sm-6 col-xs-12">
            <div style="width:75px;height:75px;background:#fff; border-radius:100%;margin: auto;"><a
               href="https://www.cybrosys.com/hire-odoo-developer/" target="_blank"> <img
               src="https://www.cybrosys.com/images/hire-odoo-developer.png"
               style="width: 100%;border-radius: 100%;"/> </a></div>
            <h3 class="oe_slogan"
               style="font-weight: 800;text-align: center;font-size: 14px;width: 100%;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;">
               <a href="https://www.cybrosys.com/hire-odoo-developer/" target="_blank"
                  style="list-style: none; color:#000; text-decoration: none; font-family: 'Montserrat',sans-serif;">
               Hire Odoo Developers</a>
            </h3>
            </a> 
         </div>
         <!-- </div> -->
      </div>
   </section>
   <section class="row" style="padding: 2rem 3rem 1rem;margin:0px">
      <div class="row" style="margin: 0">
         <h2 style="font-weight: 600;margin-bottom: 20px;text-align: center;width: 100%;">Our Industries</h2>
         <hr style="margin-top: 0px;margin-bottom: 2%;border: 0;text-align: center;border-top: 3px solid #d21c22;width: 5%;">
         <!-- <div style="display:flex;justify-content: space-between;flex-wrap:wrap;"> -->
         <div class="row" style="width: 100%">
            <div class="col-md-4 col-sm-6 col-xs-12" style=" margin-bottom: 10px; ">
               <div>
                  <div style="width:75px;height:75px;background:#CE2D48; border-radius:100%;float: left;text-align: left;">
                     <a href="https://www.cybrosys.com/odoo/industries/best-trading-erp/" target="_blank"> <img
                        src="https://www.cybrosys.com/images/odoo-index-industry-1.png" alt="Odoo Industry"
                        style="    border-radius: 100%;width:100%;"/> </a>
                  </div>
               </div>
               <div style="width:70%;float:left;">
                  <h3 class="oe_slogan"
                     style=" text-align: left;font-size: 14px;font-weight:800;width: auto;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;float: left;margin-top: 4px;margin-left: 16px;">
                     <a href="https://www.cybrosys.com/odoo/industries/best-trading-erp/" target="_blank"
                        style="list-style: none; color:#000; text-decoration: none;font-family: 'Montserrat',sans-serif;">
                     Trading </a>
                  </h3>
                  <h3 class="oe_slogan"
                     style=" text-align: left;font-size: 12px;width: auto;margin: 0;margin-top:5px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;float: left;margin-top: 5px;margin-left: 16px; font-family: 'Montserrat',sans-serif;">
                     Easily procure and sell your products. 
                  </h3>
               </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12" style=" margin-bottom: 10px; ">
               <div>
                  <div style="width:75px;height:75px;background:#CE2D48; border-radius:100%;float: left;text-align: left;">
                     <a href="https://www.cybrosys.com/odoo/industries/manufacturing-erp-software/"
                        target="_blank"> <img src="https://www.cybrosys.com/images/odoo-index-industry-2.png"
                        alt="Odoo Industry" style="    border-radius: 100%;width:100%;"/>
                     </a>
                  </div>
               </div>
               <div style="width:70%;float:left;" style=" margin-bottom: 10px; ">
                  <h3 class="oe_slogan"
                     style=" text-align: left;font-size: 14px;font-weight:800;width: auto;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;float: left;margin-top: 4px;margin-left: 16px;">
                     <a href="https://www.cybrosys.com/odoo/industries/manufacturing-erp-software/"
                        target="_blank"
                        style="list-style: none; color:#000; text-decoration: none;font-family: 'Montserrat',sans-serif;">
                     Manufacturing</a>
                  </h3>
                  <h3 class="oe_slogan"
                     style=" text-align: left;font-size: 12px;width: auto;margin: 0;margin-top:5px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;float: left;margin-top: 5px;margin-left: 16px;font-family: 'Montserrat',sans-serif;">
                     Plan, track and schedule your operations. 
                  </h3>
               </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12" style=" margin-bottom: 10px; ">
               <div>
                  <div style="width:75px;height:75px;background:#CE2D48; border-radius:100%;float: left;text-align: left;">
                     <a href="https://www.cybrosys.com/odoo/industries/restaurant-management/" target="_blank">
                     <img src="https://www.cybrosys.com/images/odoo-index-industry-3.png" alt="Odoo Industry"
                        style="    border-radius: 100%;width:100%;"/> </a>
                  </div>
               </div>
               <div style="width:70%;float:left;">
                  <h3 class="oe_slogan"
                     style=" text-align: left;font-size: 14px;font-weight:800;width: auto;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;float: left;margin-top: 4px;margin-left: 16px;">
                     <a href="https://www.cybrosys.com/odoo/industries/restaurant-management/" target="_blank"
                        style="list-style: none; color:#000; text-decoration: none;font-family: 'Montserrat',sans-serif;">
                     Restaurant</a>
                  </h3>
                  <h3 class="oe_slogan"
                     style=" text-align: left;font-size: 12px;width: auto;margin: 0;margin-top:5px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;float: left;margin-top: 5px;margin-left: 16px;font-family: 'Montserrat',sans-serif;">
                     Run your bar or restaurant methodical. 
                  </h3>
               </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12" style=" margin-bottom: 10px; ">
               <div>
                  <div style="width:75px;height:75px;background:#CE2D48; border-radius:100%;float: left;text-align: left;">
                     <a href="https://www.cybrosys.com/odoo/industries/pos/" target="_blank"> <img
                        src="https://www.cybrosys.com/images/odoo-index-industry-4.png" alt="Odoo Industry"
                        style="    border-radius: 100%;width:100%;"/> </a>
                  </div>
               </div>
               <div style="width:70%;float:left;">
                  <h3 class="oe_slogan"
                     style=" text-align: left;font-size: 14px;font-weight:800;width: auto;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;float: left;margin-top: 4px;margin-left: 16px;">
                     <a href="https://www.cybrosys.com/odoo/industries/pos/" target="_blank"
                        style="list-style: none; color:#000; text-decoration: none;font-family: 'Montserrat',sans-serif;">
                     POS</a>
                  </h3>
                  <h3 class="oe_slogan"
                     style=" text-align: left;font-size: 12px;width: auto;margin: 0;margin-top:5px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;float: left;margin-top: 5px;margin-left: 16px;font-family: 'Montserrat',sans-serif;">
                     Easy configuring and convivial selling. 
                  </h3>
               </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12" style=" margin-bottom: 10px; ">
               <div>
                  <div style="width:75px;height:75px;background:#CE2D48; border-radius:100%;float: left;text-align: left;">
                     <a href="https://www.cybrosys.com/odoo/industries/ecommerce-website/" target="_blank"> <img
                        src="https://www.cybrosys.com/images/odoo-index-industry-5.png" alt="Odoo Industry"
                        style="    border-radius: 100%;width:100%;"/> </a>
                  </div>
               </div>
               <div style="width:70%;float:left;">
                  <h3 class="oe_slogan"
                     style=" text-align: left;font-size: 14px;font-weight:800;width: auto;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;float: left;margin-top: 0px;margin-left: 16px;">
                     <a href="https://www.cybrosys.com/odoo/industries/ecommerce-website/" target="_blank"
                        style="list-style: none; color:#000; text-decoration: none; font-family: 'Montserrat',sans-serif;">
                     E-commerce & Website</a>
                  </h3>
                  <h3 class="oe_slogan"
                     style=" text-align: left;font-size: 12px;width: auto;margin: 0;margin-top:5px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;float: left;margin-top: 5px;margin-left: 16px; font-family: 'Montserrat',sans-serif;">
                     Mobile friendly, awe-inspiring product pages. 
                  </h3>
               </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12" style=" margin-bottom: 10px; ">
               <div>
                  <div style="width:75px;height:75px;background:#CE2D48; border-radius:100%;float: left;text-align: left;">
                     <a href="https://www.cybrosys.com/odoo/industries/hotel-management-erp/" target="_blank">
                     <img src="https://www.cybrosys.com/images/odoo-index-industry-6.png" alt="Odoo Industry"
                        style="    border-radius: 100%;width:100%;"/> </a>
                  </div>
               </div>
               <div style="width:70%;float:left;">
                  <h3 class="oe_slogan"
                     style=" text-align: left;font-size: 14px;font-weight:800;width: auto;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;float: left;margin-top: 4px;margin-left: 16px;">
                     <a href="https://www.cybrosys.com/odoo/industries/hotel-management-erp/" target="_blank"
                        style="list-style: none; color:#000; text-decoration: none; font-family: 'Montserrat',sans-serif;">
                     Hotel Management</a>
                  </h3>
                  <h3 class="oe_slogan"
                     style=" text-align: left;font-size: 12px;width: auto;margin: 0;margin-top:5px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;float: left;margin-top: 5px;margin-left: 16px; font-family: 'Montserrat',sans-serif;">
                     An all-inclusive hotel management application. 
                  </h3>
               </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12" style=" margin-bottom: 10px; ">
               <div>
                  <div style="width:75px;height:75px;background:#CE2D48; border-radius:100%;float: left;text-align: left;">
                     <a href="https://www.cybrosys.com/odoo/industries/education-erp-software/" target="_blank">
                     <img src="https://www.cybrosys.com/images/odoo-index-industry-7.png" alt="Odoo Industry"
                        style="    border-radius: 100%;width:100%;"/> </a>
                  </div>
               </div>
               <div style="width:70%;float:left;">
                  <h3 class="oe_slogan"
                     style=" text-align: left;font-size: 14px;font-weight:800;width: auto;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;float: left;margin-top: 4px;margin-left: 16px;">
                     <a href="https://www.cybrosys.com/odoo/industries/education-erp-software/" target="_blank"
                        style="list-style: none; color:#000; text-decoration: none; font-family: 'Montserrat',sans-serif;">
                     Education</a>
                  </h3>
                  <h3 class="oe_slogan"
                     style=" text-align: left;font-size: 12px;width: auto;margin: 0;margin-top:5px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;float: left;margin-top: 5px;margin-left: 16px; font-family: 'Montserrat',sans-serif;">
                     A Collaborative platform for educational management. 
                  </h3>
               </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12" style=" margin-bottom: 10px; ">
               <div>
                  <div style="width:75px;height:75px;background:#CE2D48; border-radius:100%;float: left;text-align: left;">
                     <a href="https://www.cybrosys.com/odoo/industries/service-management/" target="_blank"> <img
                        src="https://www.cybrosys.com/images/odoo-index-industry-8.png" alt="Odoo Industry"
                        style="    border-radius: 100%;width:100%;"/> </a>
                  </div>
               </div>
               <div style="width:70%;float:left;">
                  <h3 class="oe_slogan"
                     style=" text-align: left;font-size: 14px;font-weight:800;width: auto;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;float: left;margin-top: 4px;margin-left: 16px;">
                     <a href="https://www.cybrosys.com/odoo/industries/service-management/" target="_blank"
                        style="list-style: none; color:#000; text-decoration: none; font-family: 'Montserrat',sans-serif;">
                     Service Management</a>
                  </h3>
                  <h3 class="oe_slogan"
                     style=" text-align: left;font-size: 12px;width: auto;margin: 0;margin-top:5px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;float: left;margin-top: 5px;margin-left: 16px; font-family: 'Montserrat',sans-serif;">
                     Keep track of services and invoice accordingly. 
                  </h3>
               </div>
            </div>
         </div>
      </div>
</div>
</section>
<section class="oe_container" style="padding: 0% 0% 6% 0%;">
   <center>
      <div class="col-md-12" style="margin: auto !important;
         width: 70%;
         padding: 30px;">
         <h2 style="font-weight: 600;text-align: center;width: 100%;">Need Any Help?</h2>
         <hr style="margin-top: 0px;margin-bottom: 2%;border: 0;text-align: center;border-top: 3px solid #d21c22;width: 5%;">
         <h4 style="font-size:16px;"> If you have anything to share with us based on your use of this module, please
            let us know. We are ready to offer our support. 
         </h4>
         <div class="col-md-6" style="float:left; padding:20px;">
            <h4><i class="fa fa-envelope"></i>Email us </h4>
            <p>odoo@cybrosys.com / info@cybrosys.com</p>
         </div>
         <div class="col-md-6" style="float:left; padding:20px;">
            <h4><i class="fa fa-phone"></i> Contact Us </h4>
            <a href="https://www.cybrosys.com/contact/" target="_blank"> www.cybrosys.com</a>
         </div>
      </div>
      Suggested Products
   </center>
</section>
<section class="oe_container" style="padding: 0% 0% 6% 0%;">
   <div class="oe_slogan" style="margin-bottom: 0px;">
      <div style=" display: flex; justify-content: center; flex-wrap: wrap; ">
      </div>
      <br>
      <img src="https://www.cybrosys.com/images/logo.png" style="width: 190px; margin-bottom: 25px;margin-top: 30px;"
         class="center-block">
      <div style=" display: flex; justify-content: center; flex-wrap: wrap; "><a href="https://twitter.com/cybrosys"
         target="_blank"><i
         class="fa fa-2x fa-twitter"
         style="color:white;background: #00a0d1;width:35px;height: 35px;padding-top: 7px;font-size: 21px;margin-right: 6px;border-radius: 100%;"></i></a>
         </td>
         <a href="https://www.linkedin.com/company/cybrosys-technologies-pvt-ltd" target="_blank"><i
            class="fa fa-2x fa-linkedin"
            style="color:white;background: #31a3d6;width:35px;height: 35px;padding-top: 7px;font-size: 21px;margin-right: 6px;border-radius: 100%;"></i></a>
         </td>
         <a href="https://www.facebook.com/cybrosystechnologies" target="_blank"><i class="fa fa-2x fa-facebook"
            style="color:white;background: #3b5998;width:35px;  height: 35px;padding-top: 7px;font-size: 21px;margin-right: 6px;border-radius: 100%;"></i></a>
         </td>
         <a href="https://in.pinterest.com/cybrosys" target="_blank"><i class="fa fa-2x fa-pinterest"
            style="color:white;background: #ac0f18;width:35px;height: 35px;padding-top: 7px;font-size: 21px;margin-right: 6px;border-radius: 100%;"></i></a>
         </td>
      </div>
   </div>
</section>
</div>