.font{
font-family:'traditional_arabic';;font-weight:100;font-size: 13px;
}

@font-face {
	font-family: 'DroidArabicKufiBold';
	src: url('/e_tax_invoice_saudi_aio/static/src/fonts/DroidKufi-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	  }

@font-face {
	font-family: 'DroidArabicKufiRegular';
	src: url('/e_tax_invoice_saudi_aio/static/src/fonts/DroidKufi-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.arabic{
	font-family:DroidArabicKufiRegular !important;
}