<section class="oe_container">
    <div>
        <div class="text-center">
            <a target="new" href="http://www.acespritech.com">
                <img src="ace_logo.png" style="width:200px;">
            </a>
        </div>
    </div>
</section>
<br/>
<section class="oe_container oe_dark">
    <div class="oe_row">
        <div class="oe_span12">
            <h2 class="oe_slogan">Odoo 13 Employee Attendance Map</h2>
            <h2 class="oe_centeralign" style="font-weight:bold;">This module allows you to Get and Store Employee Attendance details during Check in and Check out and Kiosk Mode.</h2><br/>
            <div><font style="color:red;font-weight:bold;"><b>Note: </b>This module is tested and working in Odoo community edition but not tested in Enterprise version. And we are supporting Ubuntu OS and not Windows OS.<br/><br/>
            Supported Browsers: Mozila Firefox, Google Chrome<br/><br/>
            This module only work with paid Google api key
	       </font></div>
            <div>
                <h3>
                    Features
                </h3>
            </div>
            <ul>
                <li style="color:#30054D;font-weight:bold;">Get and Store Informations of Employee Attendance during Check in and Check out and Kiosk Mode.
                </li>
                <li style="color:#30054D;font-weight:bold;">Show Google map with different Searching parameters.</li>
            </ul>
            <br/>
               <div class="oe_centeralign oe_websiteonly">
                    <a href="https://apps.odoo.com/apps/modules/13.0/aspl_employee_attendance_map_ee/" target="new"
                       class="oe_button oe_big" style="background-color: #007a77;">Available for Enterprise</a>
               </div>
            <br/>
            <h4 class="oe_slogan">How to use</h4>
            <div class="oe_screenshot" style="text-align: left;">
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Configure Google Maps Api Key.</li>
                </ul>
                <img style="max-width: 100%;font-weight:bold;" src="odoo13_1__set_api_key.png"><br /><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Get and Store Informations of Employee attendance during Check in and Check out and Kiosk Mode.</li>
                </ul>
                <img style="max-width: 100%;font-weight:bold;" src="odoo13_2_check_in_greetings.png"><br /><br />
                <img style="max-width: 100%;font-weight:bold;" src="odoo13_3_list_view_entry.png"><br /><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Select Search Parameters.</li>
                </ul>
                <img style="max-width: 100%;font-weight:bold;" src="odoo13_4_search_parameters.png"><br /><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Once you will click on 'Search' button, it will show Google map as per Search Parameters and as well as click on Marker to open info window.</li>
                </ul>
<!--                 <img style="max-width: 100%;font-weight:bold;" src="main_screenshot.png"><br /><br /> -->
                <img style="max-width: 100%;font-weight:bold;" src="odoo13_5_select_department_and_employee.png"><br /><br />
                <img style="max-width: 100%;font-weight:bold;" src="odoo13_6_see_employee_department_attendance_detail.png"><br />
                <img style="max-width: 100%;font-weight:bold;" src="odoo13_7_see_employee_department_attendance_detail_list.png"><br /><br />
            </div>
        </div>
    </div>
</section>
<section>
    <div class="main-fixed-section" style="position: fixed;top: 30%;right: 0;margin: 5px auto;background: #dbecf0;padding: 5px;border-radius: 10px;border: 2px solid #00A09D;text-align: center;max-width: 10%%;">
        <span class="quick-contact" style="width: 100%;font-weight: 600;text-align: center;height: auto;/* for font */color: #27525f;font-weight: 600;text-align: center;height: auto;width: 100%;font-size: 13px;">
            Contact<br/>Acespritech
        </span>
        <div class="fixed-contact" style="padding: 0;border: 0px solid #875A7B;margin: 2px auto;background: #875A7B;border-radius: 50%;text-align: center;height: 57px;line-height: 55px;width: 60px;">
            <div class="contact-number" style="line-height: 55px;">
                <a href="mailto:info@acespritech.com" target="_blank">
                    <span>
                        <img src="mail_icon.png" style="width: 100%;height: auto;max-width: 55%;"/>
                    </span>
                </a>
            </div>
        </div>
        <div class="fixed-website" style="padding: 0;border: 0px solid #875A7B;margin: 2px auto;background: #875A7B;border-radius: 50%;text-align: center;height: 57px;line-height: 55px;width: 60px;">
            <div class="contact-number" style="line-height: 55px;">
                <a href="https://www.acespritech.com" target="_blank">
                    <span>
                        <img src="icon_website.png" style="width: 100%;height: auto;max-width: 55%;"/>
                    </span>
                </a>
            </div>
        </div>
        <div class="fixed-skype" style="padding: 0;border: 0px solid #875A7B;margin: 2px auto;background: #875A7B;border-radius: 50%;text-align: center;height: 57px;line-height: 55px;width: 60px;">
            <div class="contact-number" style="line-height: 55px;">
                <a href="skype:acespritech" target="_blank">
                    <span>
                        <img src="skype_icon.png" style="width: 100%;height: auto;max-width: 50%;"/>
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
    <H3>
        <center>Release Notes</center>
    </H3>
</section>
<section class="oe_container">
    <div class="release_note_container">
        <div class="release_note_details" style="border-bottom: 1px solid #c4c4c4;padding-top: 5px;">
            <div class="release_note_header" style="background: #c4c4c4;height: 47px;line-height: 20px;padding: 5px;border-radius: 3px;font-weight: bold;">
                <span>Release Update - December 9, 2019</span>
                <br/>
                <span>Version - 13.0.1.0</span>
            </div>
<!--            <div class="release_note_type">-->
<!--                <b>What's New</b>-->
<!--            </div>-->
            <div class="release_note_body">
                <ul>
                    <li>Initial Release</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="oe_row" style="background-color: #008000;">
        <div style="margin-bottom: 10px;" class="oe_slogan text-center">
            <div class="oe_span12">
                <h3 class="text-center" style="color: #FFFFFF; font-size: 20px">
                    <b>NOTE:</b> We give 60 days support for our customers. Before
                    trying in your live db, please ask us to provide you for test link.
                    If any other custom modules are installed and because of that some
                    errors occurs then we charge extra.
                </h3>
            </div>
        </div>
    </div>
    <div class="oe_row" style="background-color: #004CFF;">
        <div style="margin-bottom: 10px;" class="oe_slogan text-center">
            <div class="oe_span12">
                <h3 class="text-center" style="color: #FFFFFF; font-size: 20px">Contact
                us for support, query, customization</h3>
            </div>
            <span>
                <a target="new" href="http://www.acespritech.com" style="color: yellow !important; font-weight: bold;">Website</a> |
                <a target="new" href="http://www.acespritechblog.com" style="color: yellow !important; font-weight: bold;">Blog</a> |
                <a href="mailto:info@acespritech.com" style="color: yellow !important; font-weight: bold;">Email us</a> |
                <a style="color: yellow !important; font-weight: bold;">Skype:acespritech</a>
            </span>
        </div>
    </div>
</section>
